.places h1 {
    display: block;
    text-align: left;
    font-size: 30px;
    flex-grow: 2;
    width: 100%;
}

.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    text-align: center;
}

article h2 {
    font-size: 30px;
}
